<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hotel.dao.HotelMapper" >
  <resultMap id="BaseResultMap" type="hotel.model.Hotel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR"/>
    <result column="password" property="password" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, city, address, money, bank
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from hotel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hotel
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hotel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hotel.model.Hotel"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into hotel (id, name, city,
    address, money, bank,username,password
    )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
    #{address,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}, #{bank,jdbcType=VARCHAR},
    #{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}
    )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hotel.model.Hotel" >
    update hotel
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        bank = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        bank = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hotel.model.Hotel" >
    update hotel
    set name = #{name,jdbcType=VARCHAR},
    city = #{city,jdbcType=VARCHAR},
    address = #{address,jdbcType=VARCHAR},
    money = #{money,jdbcType=INTEGER},
    bank = #{bank,jdbcType=VARCHAR},
    username = #{username,jdbcType=VARCHAR},
    password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectIdByUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
    select id
    from hotel
    WHERE username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="getPasswordByUsername" parameterType="java.lang.String" resultType="java.lang.String">
    select password
    from hotel
    WHERE username = #{username,jdbcType=VARCHAR}
  </select>
</mapper>