<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hotel.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="hotel.model.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hotelid" property="hotelid" jdbcType="INTEGER" />
    <result column="hotelname" property="hotelname" jdbcType="VARCHAR" />
    <result column="begintime" property="begintime" jdbcType="DATE" />
    <result column="endtime" property="endtime" jdbcType="DATE" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="vipid" property="vipid" jdbcType="INTEGER" />
    <result column="roomid" property="roomid" jdbcType="INTEGER" />
    <result column="roomname" property="roomname" jdbcType="VARCHAR" />
    <result column="vipname" property="vipname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hotelid, hotelname, begintime,endtime, phone, status, price, vipid, roomid, roomname, vipname
  </sql>
  <insert id="insertNewOrder" parameterType="hotel.model.Order" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into orders (hotelid, hotelname,
    begintime, endtime, phone,vipname,
    status, price, vipid,roomid,roomname)
    values (#{hotelid,jdbcType=INTEGER},#{hotelname,jdbcType=VARCHAR},
    #{begintime,jdbcType=DATE},#{endtime,jdbcType=DATE},#{phone,jdbcType=VARCHAR},#{vipname,jdbcType=VARCHAR},
    #{status,jdbcType=INTEGER},#{price,jdbcType=INTEGER},#{vipid,jdbcType=INTEGER},#{roomid,jdbcType=INTEGER},#{roomname,jdbcType=VARCHAR})
    <selectKey keyProperty="id" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID();
    </selectKey>
  </insert>
  <select id="getOrdersByVipname" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    from orders
    where vipname = #{vipname,jdbcType=VARCHAR}
  </select>
  <select id="getOrdersByHotelId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT
    <include refid="Base_Column_List"/>
    from orders
    where hotelid = #{hotelid,jdbcType=INTEGER}
    ORDER BY begintime DESC
--     AND (status &lt; 3)
  </select>
  <update id="statusChange">
    UPDATE orders SET status = #{status,jdbcType=INTEGER}
    WHERE id=#{orderid,jdbcType=INTEGER}
  </update>

</mapper>